html{
    font-family: 'Montserrat', sans-serif;
}

body{
    margin: 0;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Krona One', sans-serif;
}

p{
    font-family: 'Montserrat', sans-serif;
    color: goldenrod;
    /* font-size: 21px; */

}

h1{
    font-size: 6rem;
    color: rgb(39, 39, 39);
    margin-block: 0.2em;
}

h2{
    font-size: 3rem;
}

h3{
    font-size: 1,5rem;
}

h4{
    font-size: 1.2rem;
    margin-block: 0.5em;

}

h5{
    font-size: 0,8rem;
}

h6{
    font-size: 0.6rem;
}

header{
    padding: 30px;
    justify-content: space-between;
    align-items: center;
}

header nav a{
    padding: 10px 30px;
    text-decoration: none;

}

/* links */

a:link{
    color:slategray ;
}

a:hover{
    background-color: hover;
}

a:visited{
    color: slategrey;
}

a:active {
    color: teal;
}

/* Menu links */

a.menu:link{
    color:purple;
}

a.menu:hover{
    color: sienna;
}


a.button-link:link{
    background-color: indianred;
    color: rgb(255, 254, 245);
    border-radius: 8px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.103);

}
a.button-link:hover{
    background-color: purple;
}

section{
    
}

footer{
    height: 350px;
    color: rgb(39, 39, 39);
    display: flex;
    justify-content: space-evenly;
    padding: 30px 60px;

}

#articles{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.home-article{
    /*border: 10px solid whitesmoke;*/
    border-radius: 16px;
    background-color: whitesmoke;
    width: 200px;
    padding: 20px;
    margin: 20px;
}

.img-article{
    width: 100%;
}

.author-image{
    width: 40px;
    height: 40px;
    margin: 10px;
}

.autor-container{
    align-items: center;

}

.container{
    display: flex;
}

#hero{
    /*background-color: tomato;*/
    background-image: url('../img/nathan-dumlao-Y3AqmbmtLQI-unsplash.jpg');
    background-size: cover;
    text-align: center;
    /*height: 500px;*/
    height: 60vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#features{
    flex-wrap: wrap;
    justify-content: center;
}

.icon-feature{
    font-size: 4em;
    color: darkgreen;
    margin: 10px;
}

.feature-card{
    padding: 10px;
    min-width: 250px;
    min-height: 200px;
}

#contact{
    padding: 30px;
}

.contact-30 {
    width: 30%;
    align-items: center;
}
.contact-70 {
    width: 70%;

}

.social-icon{
    margin: 5px;
}

/* ------------------------------------ */
/* tablet */

@media only screen and (min-width: 600px) and (max-width: 767px) {
    h1 {
       background-color: blue; 
       font-size: 4.653rem;
    }

}



/* ------------------------------------ */
/* desktop */

@media only screen and (min-width: 768px) {
    h1 {
        background-color: darkmagenta;
        font-size: 5.653rem;
    }

}

header{
    background-color: royalblue;
}

/* ------------------------------------- */
/* mobile */